.Calendar {
    background-color: black;
    box-shadow: 0 -0.2px 1.5px white;
    width: 340px;
    transform: translateX(400px);
    height: 430px;
    padding: 5px;
    opacity: 0;
    position: fixed;
    bottom: 80px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(48, 48, 48, 0.7);
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.Calendar.open {
    opacity: 1;
    transform: translateX(0px);
   
}

.Calendar.closed {
    opacity: 0;
    transform: translateX(400px);
   
}


.calendar-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.calendar-header {
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    padding: 10px 10px;
    gap: 5px
}



.calendar-body {
    margin-top: 40px;
    z-index: 1;
    position: relative;
    padding: 15px 10px;
    color: white;
}

.calendar-day-year{
    display: inline-flex;
    justify-content: flex-start;
    color: white;
    font-size: 1rem;
    height: 30px;
    padding: 0px 0 20px 5px;
    gap: 10px
}

.head-day-year{
    width: 240px;
    gap: 10px
}

.head-day-year:hover::before{
    content: "";
    z-index: -1;
    top: 9px;
    left: 10px;
    border-radius: 5px;
    position: absolute;
    width: 240px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1); 
}

.weekdays-row, .days-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays-row {
    margin-bottom: 10px;
    gap: 8px;
}

.weekday-name {
    font-size: 0.8rem;
    font-weight: 500;
    color: #dfdfdf;
}

.days-grid {
    gap: 8px; 
}

.calendar-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    font-size: 0.9rem;
    color: white;
    transition: background-color 0.1s ease;
}

.calendar-cell.number:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); 
}


.calendar-cell.today {
    color: black;
    background-color: rgb(101, 199, 255);
    font-weight: bold;
}

.calendar-cell.today:hover {
    background-color: rgb(130, 209, 255);
}

.days-grid{
    overflow: hidden;
    transition: all 0.3s ease;
}

.days-grid.animate-down{
    transform: translateY(40px);
    opacity: 0;
}

.days-grid.animate-up{
    transform: translateY(-40px);
    opacity: 0;
}

.change-month{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.top, .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
}

.bottom{
    transform: rotate(180deg);
}

.bottom:hover{
    background-color: rgba(255, 255, 255, 0.1); 
}

.top:hover{
    background-color: rgba(255, 255, 255, 0.1); 
}

.bottom:active, .top:active{
    background-color: rgba(94, 94, 94, 0.452);
   
}

.selection-month{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    overflow-y: auto;
    max-height: 300px;
    gap: 29px;
    scrollbar-width: none; 
}

.month-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.month-cell.today {
    color: black;
    background-color: rgb(101, 199, 255);
    font-weight: bold;
}

.month-cell.today:hover {
    color: black;
    background-color: rgb(83, 192, 255);
    font-weight: bold;
}
.month-cell:hover{
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer;
}

.selection-year{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    overflow-y: auto;
    max-height: 300px;
    gap: 29px;
    scrollbar-width: none; 
}
.year-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.year-cell:hover{
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer;
}

.year-cell.today{
    color: black;
    background-color: rgb(101, 199, 255);
    font-weight: bold;
}

.year-cell.today:hover {
    color: black;
    background-color: rgb(83, 192, 255);
    font-weight: bold;
}