.SearchMenu{
    position: fixed;
    transform:translateY(1000px);
    width: 750px;
    height: 600px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-self: center;

    opacity: 0;

    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.SearchMenu.open {
    opacity: 1;
    transform:translateY(220px);
}


.SearchMenu.closing {
    opacity: 0;
    transform:translateY(1000px);
    
}