.Menu{
    position: fixed;
    transform:translateY(1000px);
    bottom: 80px;
    width: 850px;
    height: 720px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-self: center;


    transition: opacity 150ms ease-out, transform 150ms ease-in;
}

.Menu.open {
    transform:translateY(-5px);
}


.Menu.closing {
    
    transform:translateY(1000px);
    
}